span.checkarea{
	height: 50px;
	width: 50px;
	position: relative;
}
.mainframe
{
	/*display: inline;
	float: left;*/
	/*width: 335px;*/
	/*height: 200px;
	margin: 5px;
	cursor: hand;
	cursor: pointer;*/
	height: 1000px;
	border: 2px solid #eeeeee;
	transition: all 0.5s ease-out;
	-webkit-transition: all 0.5s;
    /*background-color: yellow;*/
}

#mylist .check {
	height: 50px;
	width: 50px;
	background: url(https://lh5.googleusercontent.com/-QrExCTQxOYQ/UyhWWh4y3TI/AAAAAAAAMG4/ZPeVsYRXIec/s800/200px-Vote1.svg.png);
	background-size: 20px 20px;
	background-repeat: no-repeat;
	background-position: center center;
	position: absolute;
}