body{

  font-family: "Myriad Pro";
  background-color:#b5d5e1;
}
.person_div{

padding:10px;
}
.person_div2{

padding-bottom:10px;

}
.person_h1{
color:#b5d5e1;
margin-bottom:0;
margin-top:0;
padding-top:5px;
text-decoration:none;
}
.person_h1:hover{
color:white;
margin-bottom:0;
margin-top:0;
padding-top:5px;
text-decoration:none;
}
.person_img{
height:250px;
width:auto;
border-width:5px;
border-style:solid;
border-color:#b5d5e1;

}
.hrline{
border:0; 
height:3px; 
background-color:#b5d5e1;
color:#b5d5e1
}
.mylist{
margin-bottom:100px;
}
.rowline{
height:3px;
background-color:#b5d5e1;
margin-top:10px;

}
.vsh1{
padding-top:250px;
color:#b5d5e1;
font-size:100px;
}
.headertext1{
color:#b5d5e1;
font-weight:bold;
font-family: "malgun gothic", simhei;
font-size:30px;
}
.headertext2{
color:#b5d5e1;
font-weight:bold;
font-family: "malgun gothic", simhei;

font-size:50px;
}
.individual1:hover{
text-decoration:none;
}
.individual2:hover{
text-decoration:none;
}
.bodydiv{
padding:20px;
background:white;
}
.wiki{
  height: 56px;
  width: 56px;
  background: url(../themes/img/thum-w-icon.png) no-repeat center center;
  display: inline-block;
}
.facebook{
  height: 56px;
  width: 56px;
  background: url(../themes/img/thum-f-icon.png) no-repeat center center;
  display: inline-block;
}