
#candidate1{
	width: 200px;
	height: 200px;
    background: url(//upload.wikimedia.org/wikipedia/commons/thumb/5/51/%E6%9F%AF%E6%96%87%E5%93%B2_%2815972701052%29.jpg/300px-%E6%9F%AF%E6%96%87%E5%93%B2_%2815972701052%29.jpg);
    background-size: cover;
    background-repeat: no-repeat;
	background-position:center left;
}
#winnerthisround{
	width: 200px;
	height: 200px;
    background: url(//upload.wikimedia.org/wikipedia/commons/thumb/2/2d/Chiang_Ching-kuo_1948.jpg/200px-Chiang_Ching-kuo_1948.jpg);
    background-size: cover;
    background-repeat: no-repeat;
	background-position:center left;
}


.myboxcandidate {
  perspective: 1000;
}
#mybox_card {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 0.3s linear;
}
.myboxcandidate:hover #mybox_card {
  transform: rotateY(180deg);
  box-shadow: -5px 5px 5px #aaa;
  cursor:pointer;
}
.face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.face.back {
  display: block;
  transform: rotateY(180deg);
  color: white;
  text-align: center;
  background-color: #aaa;
}